/* Collapsible chat actions */
.buttons__74017 {
    gap: 0 !important;
    pointer-events: none;
&:hover {
    pointer-events: all;
  }
}
.expression-picker-chat-input-button {
    opacity: 0;
    pointer-events: none;
    transform: translateX(10px);
    transition: all 0.3s ease;
.buttons__74017:hover & {
    opacity: 1;
    pointer-events: all;
    transform: none;
  }
&:has(.emojiButton__04eed) {
    opacity: 1 !important;
    pointer-events: all !important;
    transform: none !important;
  }
}

/* Move icons in chat box closer together */
div:has(button[aria-label='Send a gift']) {
  gap: 0px !important;
}

/* Detailed Timestamp */
span[class*="timestampInline_"] time::before {
  content: attr(aria-label);
  font-size: 12px;
}

span[class*="timestampInline_"] {
  font-size: 0px !important;
}

/* Move button bar above reply */
[class*=buttonContainer] > [class*=buttons_] {
    transform: translateY(-20%);
}

/* bigger folder icon */
[class^=folderIcon__] {
    svg {
  width: 25px;
  height: 25px;
  margin-bottom: 1px;
    }
}

/* Server icons preview in folders */
.folderHeaderSmall__48112 {
   --custom-folder-preview-padding: 5px;
 }
 .folderPreviewGuildIcon__48112 {
   border-radius: 30% !important;
 }

/* minimise Spotify player, expand on hover */
#vc-spotify-player {
    height: 50px;
    transition: height 0.4s ease-out;
    overflow: hidden;
    #vc-spotify-progress-bar,
    .vc-spotify-button-row {
        opacity: 0;
        transition: opacity 0.4s ease-out;
    }
    &:hover {
        height: 115px;
        #vc-spotify-progress-bar,
        .vc-spotify-button-row {
            opacity: 1;
        }
    }
}

/* Expandable User Panel */
.panels_c48ade div[class^="buttons_"] {
  width: fit-content !important; 
  margin-left: auto; 
  margin-right: 0;
}

.panels_c48ade div[class^="buttons_"] button[role="switch"] {
  width: 0px;
  overflow: hidden;
  transition: all 0.3s;
  left: 16px;
}

.panels_c48ade div[class^="buttons_"]:hover button[role="switch"] {
  width: 32px;
  overflow: visible;
  transition: all 0.3s;
  left: 0px;
}

.panels_c48ade div[class^="buttons_"]:not(:hover) button:not([role="switch"]) svg {
  rotate: 360deg;
  transition: rotate 0.3s;
}

.panels_c48ade div[class^="buttons_"]:hover button:not([role="switch"]) svg {
  rotate: 0deg;
  transition: rotate 0.3s;
}

/* Scrollable/compact codeblocks */
:root {
    --codeblock-height: 200px;
}
.codeContainer__75297 > code, .vc-shiki-code {
  max-height: var(--codeblock-height);
  overflow-y: scroll;
  
  &::-webkit-scrollbar {
    height: 8px;
    width: 8px;
  }
  &::-webkit-scrollbar-corner {
    background-color: transparent;
  }
    &::-webkit-scrollbar-track, &::-webkit-scrollbar-thumb {
    visibility: hidden;
  }
  &::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    background-color: var(--scrollbar-thin-thumb);
    border: 2px solid transparent;
    border-radius: 4px;
    min-height: 40px;
  }
  &:hover::-webkit-scrollbar-track, &:hover::-webkit-scrollbar-thumb {
    visibility: visible;
  }
  &::-webkit-scrollbar-track {
    background-color: var(--scrollbar-thin-track);
    border: 2px solid var(--scrollbar-thin-track);
    border-color: var(--scrollbar-thin-track);
  }
}
.vc-shiki-btns {
    position: sticky;
    display: flex;
    justify-content: flex-end;
  }
.vc-shiki-code{
  padding: 10px 0 0 10px !important;
}

/* bio scrollbar + unclamp */
[class^="descriptionClamp_"] {
  -webkit-line-clamp: unset;
  max-height: 112px;
  overflow-x: hidden;
  overflow-y: auto;
    
    &::-webkit-scrollbar {
      width: 8px;
      height: 8px;
    }

    &::-webkit-scrollbar-track {
      border: 2px solid var(--scrollbar-thin-track);
      background-color: var(--scrollbar-thin-track);
      border-color: var(--scrollbar-thin-track);
    }

    &::-webkit-scrollbar-thumb {
      background: var(--profile-body-divider-color);
      background-clip: padding-box;
      border: 2px solid transparent;
      border-radius: 4px;
      min-height: 40px;
    }
}

/* Pin page switcher to bottom of search results */
[class^="searchResultsWrap_"] [class^="container_"]:has([class^="pageControlContainer_"]){
  position: sticky;
  bottom: 0px;
  z-index: 999;
  background: var(--bg-overlay-1, var(--background-primary));
}

/* colored role pills */
[class^="role_"] {
  position: relative;
  overflow: hidden;
  > [class^="roleRemoveButton_"],
  > div > [class^="roleRemoveButtonCanRemove_"]
  {
    position: static;
    > [class^="roleCircle_"]::before {
      content: "";
      position: absolute;
      top: 0;       left: 0;
      width: 100%;  height: 100%;
      background-color: inherit;
      opacity: 0.2;
      z-index: 0;
    }
  }
  > [class^="roleName_"] { z-index: 1; }
  [class^="roleRemoveIcon_"] {
    left: calc(
      4px +     /* Pill padding */
      -2px +     /* "Remove Role" */
      4px +     /* Circle margin */
      12px/2);  /* Circle size */
  }
}

/* jump to present button on right side */
.jumpToPresentBar__0f481{
    justify-self: end;
    margin: 20px 10px !important;
}

/* Hide chat box if you have no permission to write in the channel */
[class*=channelTextAreaDisabled] {
    display: none!important;
}

[class*=channelTextAreaDisabled] {
    opacity: 0!important;
    position: absolute!important;
    height: 0px!important;
    width: 0px!important;
    z-index: 0!important;
}

/* Hide typing dots in chat bar */
svg[class^="ellipsis"] {
  display: none !important;

  & + span {
    margin-left: 5px !important;
  }
}

/* Adding people isn't that important */
[data-tab-id=ADD_FRIEND]{
    background-color: var(--background-color) !important;
    color: var(--interactive-normal) !important;
}
[data-tab-id=ADD_FRIEND]:hover{
    background-color: var(--background-modifier-hover) !important;
    color: var(--interactive-hover) !important;
}
[data-tab-id=ADD_FRIEND][aria-selected=true]{
    background-color: var(--background-modifier-selected) !important;
    color: var(--interactive-active) !important;
}
[data-tab-id=ADD_FRIEND][aria-selected=true]:hover{
    background-color: var(--background-modifier-hover) !important;
    color: var(--interactive-active) !important;
}

/* reduce context menu padding */
.layer_da8173 > .menu_c1e9c4 > .scroller_c1e9c4 {
    margin: -4px;
    .separator_c1e9c4 {
        margin: 1px 8px !important;
    }
    .wrapper_f563df {
        padding: 2px !important;
    }
    .item_c1e9c4{
        /* min-height is 32px as default, change value for desired look */
        min-height: 32;
        /* padding is 4px 8px as default, change value for desired look */
        padding: 4px 8px;
    }
}

/* Collapse Icon Position Fix */
.containerDefault__29444 {
  > div {
    padding-left: 0.5em;

    > div {
      display: flex !important;
      place-content: start !important;
      flex-direction: row-reverse !important;
    }
  }
}



/* Hide all the things */
.searchBar__35e86,/* Hide Find or start a conversation button */
.nowPlayingColumn__133bf,/* Hide Active Now */
[class^=container] > [class^=icon]:has(> path),/* Hide Activity Status Icon */
.closeButton__972a0,/* Hide the "Close DM" button */
.inviteButton_f37cb1,/* Hide the "Invite to Server" button */
[aria-label="Channel Options"],/* Hide the "..." Channel Options button from Channels List */
[aria-label="Invite to Voice"], [aria-label="Open Chat"],/* Hide the Invite to Voice and Open Chat buttons from voice channels */
.hoverButtonGroup__06ab4,/* Hide Edit Image with Apps button */
button[aria-label="Send a gift"],/* hide Gift button */
button[aria-label="Open sticker picker"],/* hide Stickers button */
[class^=channelAppLauncher_],/* hide App Launcher button */
[class^=refreshVoiceChannelsButton__29444],/* Hide "🔊 Show All" button */
[class*=voiceBar__7aaec],/* Hide "X IN VOICE" bar */
.footer__5be3e,/* Hide the "message @name" box from profile */
button[aria-label="Add Friend"]/* hide "Add Friend" button from profile */
{
    display: none !important;
}
