/* personal customization */
/* ja_som loading */
[class*=content]:has(> video[data-testid="app-spinner"]) {
  position: relative;
  &::after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    translate: 25%;
    width: 200px;
    height: 180px;
    background-image: url('./neon_700_A_t.png') !important;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  video { visibility: hidden; }
 div[class^=text_] { top: 10px; }
}

/* custom home icon */
[data-list-item-id="guildsnav___home"] {
    content: url('./discord-music-512.gif');
}

/* ja_som Emoji Button */
:root{
  --customEmojiIconURL: url(./neon_700_A_t.png);
  --customEmojiIconMask: url(./neon_700_A_t.png);
}
[class*=emojiButton] [class*=spriteColored]{
  background: var(--customEmojiIconURL) center/contain no-repeat;
}

[class*=emojiButton] [class*=spriteGreyscale]{
  mask: var(--customEmojiIconMask) center/contain no-repeat;
}

/* ja_som's server animated icon */
[data-list-item-id="guildsnav___897109205968912415"] 
[class*=icon] {
  content:url("./neon_700_A_t.png");
}

/* ja_som's Helloween emojis server animated icon */
[data-list-item-id="guildsnav___1288171506710614090"] 
[class*=icon] {
  content:url("https://cdn.discordapp.com/emojis/1288190606434238475.webp?animated=true");
}

/* ja_som's festive emojis server animated icon */
[data-list-item-id="guildsnav___1291491635695452190"] 
[class*=icon] {
  content:url("https://cdn.discordapp.com/emojis/1306291490502348861.webp?animated=true");
}
