/* Blurred Background while loading */
[class*="container_"][class*="fixClipping_"] {
  background: 0 0;
  backdrop-filter: blur(5px);
}

/* Collapsible chat actions */
[class^=chat_] [class*=textArea_] {
  margin-right: 32px;
  +[class^=buttons_] {
    position: absolute;
    right: 0;
    background-color: var(--bg-3);
    border-radius: 8px;
    &:not(:hover)>:not(:has(>[class^=emojiButton] )) {
      display: none;
    }
    &:not(:hover)>[class^=container_] button>div {
      margin-left: 8px;
    }
    >:has(> [class*=emojiButton_]) {
        order: 99;
    }
    >:has(> .app-launcher-entrypoint) {
        order: -1;
    }
  }
}

/* bigger folder icon */
[class*=expandedFolderIconWrapper__] {
    svg {
  width: 25px;
  height: 25px;
  margin-bottom: 1px;
    }
}

/* Server icons are circles */
[class*="closedFolderIconWrapper_"] > [class*="guildIcon_"],
[data-list-item-id*="guildsnav_"] > [class*="icon_"] {
    border-radius: 50% !important;
}

/* Move button bar above reply */
[class*=buttonContainer] > [class*=buttons_] {
    transform: translateY(-20%);
}

/* Spinny Discover button */
[data-list-item-id*="guild-discover-button"] svg {
    transform: rotate(0deg);
    transition: transform 1s ease-in-out;
}
[data-list-item-id*="guild-discover-button"]:hover svg {
    transform: rotate(720deg);
}

/* minimise Spotify player, expand on hover */
#vc-spotify-player {
    height: 50px;
    transition: height 0.4s ease-out;
    overflow: hidden;
    #vc-spotify-progress-bar,
    .vc-spotify-button-row {
        opacity: 0;
        transition: opacity 0.4s ease-out;
    }
    &:hover {
        height: 115px;
        #vc-spotify-progress-bar,
        .vc-spotify-button-row {
            opacity: 1;
        }
    }
}

/* Expandable User Panel */
.panels_c48ade div[class^="buttons_"] {
  width: fit-content !important; 
  margin-left: auto; 
  margin-right: 0;
}

.panels_c48ade div[class^="buttons_"] button[role="switch"] {
  width: 0px;
  overflow: hidden;
  transition: all 0.3s;
  left: 16px;
}

.panels_c48ade div[class^="buttons_"]:hover button[role="switch"] {
  width: 32px;
  overflow: visible;
  transition: all 0.3s;
  left: 0px;
}

.panels_c48ade div[class^="buttons_"]:not(:hover) button:not([role="switch"]) svg {
  rotate: 360deg;
  transition: rotate 0.3s;
}

.panels_c48ade div[class^="buttons_"]:hover button:not([role="switch"]) svg {
  rotate: 0deg;
  transition: rotate 0.3s;
}

/* Allow scrolling in your user popout if it's too large (next to settings) */
[class*=userPopoutInner_]>[class*=body_] {
  overflow-y: auto;
}

/* bio scrollbar + unclamp */
[class^="descriptionClamp_"] {
  -webkit-line-clamp: unset;
  max-height: 112px;
  overflow-x: hidden;
  overflow-y: auto;
    
    &::-webkit-scrollbar {
      width: 8px;
      height: 8px;
    }

    &::-webkit-scrollbar-track {
      border: 2px solid var(--scrollbar-thin-track);
      background-color: var(--scrollbar-thin-track);
      border-color: var(--scrollbar-thin-track);
    }

    &::-webkit-scrollbar-thumb {
      background: var(--profile-body-divider-color);
      background-clip: padding-box;
      border: 2px solid transparent;
      border-radius: 4px;
      min-height: 40px;
    }
}

/* Remove Nitro tenure tooltip bloat */
[class^="tooltipContainer_"]:has([class^="tooltipWordmarkContainer_"]) {
    padding: initial;
    & img, h1, h2, [class^="tooltipWordmarkContainer_"] { display: none; }
    
    & [class*="tooltipDescription_"] {
        color: inherit!important;
        font: inherit;
        margin: inherit;
        /* text-transform: lowercase;
        &:after, &:before { text-transform: initial; } */
        &:before { content: "Nitro "; }
    }
    & [src="/assets/242f4d0069d97414.svg"] ~ div:after { content: " (Bronze)" }
    & [src="/assets/a28ccbd2a55e8413.svg"] ~ div:after { content: " (Silver)" }
    & [src="/assets/45bb84c5fd852085.svg"] ~ div:after { content: " (Gold)" }
    & [src="/assets/d343a0b3439e81d1.svg"] ~ div:after { content: " (Platinum)" }
    & [src="/assets/bb018f1613e8d528.svg"] ~ div:after { content: " (Diamond)" }
    & [src="/assets/11a893d07ab86fe4.svg"] ~ div:after { content: " (Emerald)" }
    & [src="/assets/2801bd9ef48c1d87.svg"] ~ div:after { content: " (Ruby)" }
    & [src="/assets/c20bd44dcc3b5ecb.svg"] ~ div:after { content: " (Opal)" }
}

/* Pin page switcher to bottom of search results */
[class^="searchResultsWrap_"] [class^="container_"]:has([class^="pageControlContainer_"]){
  position: sticky;
  bottom: 0px;
  z-index: 999;
  background: var(--bg-overlay-1, var(--background-primary));
}

/* colored role pills */
[class^="role_"] {
  position: relative;
  overflow: hidden;
  > [class^="roleRemoveButton_"],
  > div > [class^="roleRemoveButtonCanRemove_"]
  {
    position: static;
    > [class^="roleCircle_"]::before {
      content: "";
      position: absolute;
      top: 0;       left: 0;
      width: 100%;  height: 100%;
      background-color: inherit;
      opacity: 0.2;
      z-index: 0;
    }
  }
  > [class^="roleName_"] { z-index: 1; }
  [class^="roleRemoveIcon_"] {
    left: calc(
      4px +     /* Pill padding */
      1px +     /* "Remove Role" */
      4px +     /* Circle margin */
      12px/2);  /* Circle size */
  }
}

/* hide the title */
.title_c38106 {
  display: none !important
}

/* Hide Activity Status Icon */
[class^=container] > [class^=icon]:has(> path) { display: none }

/* Hide Activity Status in Member list */
[class*='membersGroup']:has([role=button]),
[class*='member'] [class*='container']:has([class*='badges']) {
  display: none;
}

/* Hide Active Now */
[class^=nowPlayingColumn] { display: none }

/* Hide chat box if you have no permission to write in the channel */
[class*=channelTextAreaDisabled] {
    display: none!important;
}

[class*=channelTextAreaDisabled] {
    opacity: 0!important;
    position: absolute!important;
    height: 0px!important;
    width: 0px!important;
    z-index: 0!important;
}

/* Hide Find or start a conversation button */
[class=searchBar__35e86] { display: none }

/* Adding people isn't that important Discord */
[data-tab-id=ADD_FRIEND]{
    background-color: var(--background-color) !important;
    color: var(--interactive-normal) !important;
}
[data-tab-id=ADD_FRIEND]:hover{
    background-color: var(--background-modifier-hover) !important;
    color: var(--interactive-hover) !important;
}
[data-tab-id=ADD_FRIEND][aria-selected=true]{
    background-color: var(--background-modifier-selected) !important;
    color: var(--interactive-active) !important;
}
[data-tab-id=ADD_FRIEND][aria-selected=true]:hover{
    background-color: var(--background-modifier-hover) !important;
    color: var(--interactive-active) !important;
}





/* Hide bettons */
/* Hide the Create Invite and Edit Channel buttons from Channels List */
[class^="iconVisibility_"] [aria-label="Create Invite"] {
    display: none !important;
}
[class^="iconVisibility_"] [aria-label="Invite to Server"] {
    display: none !important;
}
[class^="iconVisibility_"] [aria-label="Edit Channel"] {
    display: none !important;
}

/* Hide Edit Image with Apps button */
[class^=hoverButtonGroup] { display: none }

/* hide Gift button */
button[aria-label="Send a gift"] {
    display: none;
}

/* hide Stickers button */
button[aria-label="Open sticker picker"] {
    display: none;
}

/* Hide "🔊 Show All" button */
[class^=refreshVoiceChannelsButton] { display: none }

/* Hide "X IN VOICE" bar */
[class*=voiceBar__] { display: none }

/* hide App Launcher button */
button[aria-label="Apps"] {
    display: none;
}

/* Hide the "message @name" box from profile */
[class=footer__5be3e] { display: none }

/* hide "Add Friend" button from profile */
button[aria-label="Add Friend"] {
    display: none;
}
