/* ja_som's emoji dump server animated icon */
[data-list-item-id="guildsnav___1231134596716957697"] 
[class*=icon] {
  content:url("https://cdn.discordapp.com/emojis/1261778408673640480.webp?animated=true");
}

/* custom home icon */
[data-list-item-id="guildsnav___home"] {
    content: url('./discord-music-512.gif');
}

/* ja_som Emoji Button */
:root{
  --customEmojiIconURL: url(./neon_700_A_t.png);
  --customEmojiIconMask: url(./neon_700_A_t.png);
}
[class*=emojiButton] [class*=spriteColored]{
  background: var(--customEmojiIconURL) center/contain no-repeat;
}

[class*=emojiButton] [class*=spriteGreyscale]{
  mask: var(--customEmojiIconMask) center/contain no-repeat;
}

/* bigger folder icon */
[class^=folderIcon__] {
    svg {
  width: 25px;
  height: 25px;
  margin-bottom: 1px;
    }
}
