/* Replace Member List Mobile Icons */
[mask*="avatar-status-mobile"]{
  mask: url(#svg-mask-avatar-status-round-32) !important;
}
[mask*="mask-status-online-mobile)"]{
  mask: url(#svg-mask-status-online)!important;
  height: 10px !important;
  width: 10px !important;
  transform: translateY(5px) !important;
}

/* Replace Profile Popout Mobile Status Icons */
[class*=userProfile] [mask*="mask-status-online-mobile)"]{
  mask: url(#svg-mask-status-online)!important;
  height: 16px !important;
  width: 16px !important;
  transform: translateY(8px) !important;
}
[class*=userProfile] [mask*="avatar-status-mobile"]{
  mask: url(#svg-mask-avatar-status-round-80) !important;
}
[class*=avatar] rect[fill=black], [class*=avatar] rect[fill=white]{
  display: none;
}








/* ja_som's emoji dump server animated icon */
[data-list-item-id="guildsnav___1231134596716957697"] 
[class*=icon] {
  content:url("https://cdn.discordapp.com/emojis/1261778408673640480.webp?animated=true");
}

/* custom home icon */
[data-list-item-id="guildsnav___home"] {
    content: url('./discord-music-512.gif');
}

/* ja_som Emoji Button */
:root{
  --customEmojiIconURL: url(./neon_700_A_t.png);
  --customEmojiIconMask: url(./neon_700_A_t.png);
}
[class*=emojiButton] [class*=spriteColored]{
  background: var(--customEmojiIconURL) center/contain no-repeat;
}

[class*=emojiButton] [class*=spriteGreyscale]{
  mask: var(--customEmojiIconMask) center/contain no-repeat;
}
