/* ja_som's emoji dump server animated icon */
[data-list-item-id="guildsnav___1231134596716957697"] 
[class*=icon] {
  content:url("https://cdn.discordapp.com/emojis/1261778408673640480.webp?animated=true");
}

/* custom home icon */
[data-list-item-id="guildsnav___home"] {
    content: url('./discord-music-512.gif');
}

/* ja_som Emoji Button */
:root{
  --customEmojiIconURL: url(./neon_700_A_t.png);
  --customEmojiIconMask: url(./neon_700_A_t.png);
}
[class*=emojiButton] [class*=spriteColored]{
  background: var(--customEmojiIconURL) center/contain no-repeat;
}

[class*=emojiButton] [class*=spriteGreyscale]{
  mask: var(--customEmojiIconMask) center/contain no-repeat;
}

/* Server icons are circles */
@import url("https://scattagain.github.io/VencordStuff/css/GuildbarRevert.css");

:root {
    /* Only include this part if you wish to change these variables */
    /* You can change the size but only to be less than 48px, you must change the blob scale too */
    --guildbar-avatar-size: 45px;
    --blob-scale: 45;

    --guildbar-folder-size: var(--guildbar-avatar-size);
    --folder-blob-scale: var(--blob-scale);
}






because of lag:
/* Remove Nitro tenure tooltip bloat */
[class^="tooltipContainer_"]:has([class^="tooltipWordmarkContainer_"]) {
    padding: initial;
    & img, h1, h2, [class^="tooltipWordmarkContainer_"] { display: none; }
    
    & [class*="tooltipDescription_"] {
        color: inherit!important;
        font: inherit;
        margin: inherit;
        /* text-transform: lowercase;
        &:after, &:before { text-transform: initial; } */
        &:before { content: "Nitro "; }
    }
    & [src="/assets/242f4d0069d97414.svg"] ~ div:after { content: " (Bronze)" }
    & [src="/assets/a28ccbd2a55e8413.svg"] ~ div:after { content: " (Silver)" }
    & [src="/assets/45bb84c5fd852085.svg"] ~ div:after { content: " (Gold)" }
    & [src="/assets/d343a0b3439e81d1.svg"] ~ div:after { content: " (Platinum)" }
    & [src="/assets/bb018f1613e8d528.svg"] ~ div:after { content: " (Diamond)" }
    & [src="/assets/11a893d07ab86fe4.svg"] ~ div:after { content: " (Emerald)" }
    & [src="/assets/2801bd9ef48c1d87.svg"] ~ div:after { content: " (Ruby)" }
    & [src="/assets/c20bd44dcc3b5ecb.svg"] ~ div:after { content: " (Opal)" }
}
