/* ja_som's emoji dump server animated icon */
[data-list-item-id="guildsnav___1231134596716957697"] 
[class*=icon] {
  content:url("https://cdn.discordapp.com/emojis/1261778408673640480.webp?animated=true");
}

/* custom home icon */
[data-list-item-id="guildsnav___home"] {
    content: url('./discord-music-512.gif');
}

/* ja_som Emoji Button */
:root{
  --customEmojiIconURL: url(./neon_700_A_t.png);
  --customEmojiIconMask: url(./neon_700_A_t.png);
}
[class*=emojiButton] [class*=spriteColored]{
  background: var(--customEmojiIconURL) center/contain no-repeat;
}

[class*=emojiButton] [class*=spriteGreyscale]{
  mask: var(--customEmojiIconMask) center/contain no-repeat;
}

/* Server icons are circles */
@import url("https://scattagain.github.io/VencordStuff/css/GuildbarRevert.css");

:root {
    /* Only include this part if you wish to change these variables */
    /* You can change the size but only to be less than 48px, you must change the blob scale too */
    --guildbar-avatar-size: 45px;
    --blob-scale: 45;

    --guildbar-folder-size: var(--guildbar-avatar-size);
    --folder-blob-scale: var(--blob-scale);
}
