/* Blur images in specific channel */
/* 
WW announcement channel - 728638965812428893
SAD drama-hub - 830167550166958080 - SPOILER images only
SAD NSFW-mod-support - 830174285514670170
SAD NSFW-chat-and-pics - 830187485434478663
SAD wcif-NSFW - 830306448173039649
*/
[id*="728638965812428893"] .imageWrapper_af017a img,
[id*="830167550166958080"] .imageWrapper_af017a:not(.embedMedia__623de) img/* [src*="SPOILER"] */,
[id*="830174285514670170"] .imageWrapper_af017a:not(.embedMedia__623de) img,
[id*="830187485434478663"] .imageWrapper_af017a:not(.embedMedia__623de) img,
[id*="830306448173039649"] .imageWrapper_af017a:not(.embedMedia__623de) img
{
    filter: blur(30px) !important;
    transition: filter 0.3s ease !important;
}
/* Exclude images in embeds */
[id*="830167550166958080"] .embed__623de .imageWrapper_af017a img,
[id*="830174285514670170"] .embed__623de .imageWrapper_af017a img,
[id*="830187485434478663"] .embed__623de .imageWrapper_af017a img,
[id*="830306448173039649"] .embed__623de .imageWrapper_af017a img
{
    filter: blur(0) !important;
}
/* Reveal on hover */
[id*="728638965812428893"] .imageWrapper_af017a:hover img,
[id*="830167550166958080"] .imageWrapper_af017a:hover img,
[id*="830174285514670170"] .imageWrapper_af017a:hover img,
[id*="830187485434478663"] .imageWrapper_af017a:hover img,
[id*="830306448173039649"] .imageWrapper_af017a:hover img
{
    filter: blur(0) !important;
}
