/* ////////////////////////////// other \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* vesktop loading */
.fixClipping_efbae7 .content_a2f514 {
  position: relative;
  &::after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    translate: 25%;
    width: 200px;
    height: 180px;
    background-image: url('https://raw.githubusercontent.com/ja-som/dqcss/refs/heads/main/assets/VCsplash.webp') !important;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  & .spinner_a2f514[data-testid="app-spinner"] {
    visibility: hidden;
  }
  & .text_a2f514 {
    top: 10px;
  }
}
  
  
  /* cat emoji button */
  :root{
    --customEmojiIconURL: url('../assets/emoji.svg');
    --customEmojiIconMask: url('../assets/emoji.svg');
  }
  [class*=emojiButton] [class*=spriteColored]{
    background: var(--customEmojiIconURL) center/contain no-repeat;
  }
  
  [class*=emojiButton] [class*=spriteGreyscale]{
    mask: var(--customEmojiIconMask) center/contain no-repeat;
  }
  
  /* reduce context menu padding */
  /* https://discord.com/channels/1015060230222131221/1371211975794888794 */
    .menu_c1e9c4 {
        min-width: 0;
        width: 200px !important;
    }
    .scroller_c1e9c4 {
        margin: -4px;
    }
    .separator_c1e9c4 {
        margin: 0px 0px !important;
    }
    .wrapper_f563df {
        padding: 0px !important;
        margin: 1px;
    }
    .item_c1e9c4 {
        min-height: 0;
        padding: 4px 8px;
    }
    .icon_f563df {
        width: 18px;
    }
    .button_f563df {
        width: 44px;
        height: 36px;
        border-radius: 4px;
    }
    .icon_c1e9c4 {
        width: 18px;
        height: 18px;
    }
    .iconContainer_c1e9c4 {
        display: flex;
        justify-content: center;
        align-items: center;
    }
  
  /* Pin page switcher to the bottom of the search results */
  /* https://discord.com/channels/1015060230222131221/1334846468334555207 */
  #search-results+.container_b82a71 {
    position: sticky;
    bottom: 0px;
    z-index: 999;
    background: var(--bg-4); /* color from theme */
  }
  
  /* Adding people isn't that important */
  /* https://discord.com/channels/1015060230222131221/1276982404501999750 */
  .addFriend__133bf {
    background-color: var(--background-color) !important;
    color: var(--text-4) !important;

    &:hover {
        background-color: var(--hover) !important;
        color: var(--text-3) !important;
    }
  }

  .addFriend__133bf[aria-selected=true] {
    background-color: var(--active) !important;
    color: var(--text-2) !important;
  }
  
  /* make search bar smaller
  .searchBar_c322aa{
    max-width: 185px;
  } */

  /* ////////////////////////////// Fixes \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */



  /* ////////////////////////////// Mac OS specific \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
    /* "center" Vencord Toolbox button */
  /* .platform-osx .vc-toolbox-btn,.platform-osx [aria-label="Vencord Toolbox"]{
    right: 6px;
  }
    /* inbox overlapping fix */
  /* .platform-osx .searchBar_c322aa, /* search bar */
  /* .platform-osx .inviteToolbar__133bf, /* "New Group DM" */
  /* .platform-osx .container__44ee9 /* Orbs */
  /* {
    margin-right: 36px;
  } */
