/* ////////////////////////////// recolors \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
  
  /* Adding people isn't that important */
  /* https://discord.com/channels/1015060230222131221/1276982404501999750 */
  .addFriend__133bf {
    background-color: var(--background-color) !important;
    color: var(--text-4) !important;

    &:hover {
        background-color: var(--hover) !important;
        color: var(--text-3) !important;
    }
  }

  .addFriend__133bf[aria-selected=true] {
    background-color: var(--active) !important;
    color: var(--text-2) !important;
  }

/* ////////////////////////////// roles recolor \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* I Have No Mouth And I Must Scream */
[style*="color: rgb(29, 18, 18)"] { /* original role color */
    color: #ff00ea !important; /* replace with this color */
}
[style*="background-color: rgb(29, 18, 18)"] {
    background-color: #ff00ea !important;
    border-color: #ff00ea !important;
}
