/* ////////////////////////////// user profile \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* bio scrollbar + unclamp */
/* https://discord.com/channels/1015060230222131221/1255186876084654191/1262252001979269130 */
[class^="descriptionClamp_f5f93a"] {
    -webkit-line-clamp: unset;
    max-height: 112px;
    overflow-x: hidden;
    overflow-y: auto;
      
      &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
      }
  
      &::-webkit-scrollbar-thumb {
        background: var(--bg-2); /*color from theme */
        background-clip: padding-box;
        border: 2px solid transparent;
        border-radius: 4px;
        min-height: 40px;
      }
  }
  
  /* colored role pills */
  /* https://discord.com/channels/1015060230222131221/1335796176406184018/1343197847046193183 */
  :root {
  /* Role Pill Settings */
      --pill-roundness: 16px;
      --pill-opacity: 30%;
      --pill-border: false; /* "true" to enable */
  }
  
  /* Fix discord's new role icons in the roles popup */
  /* https://discord.com/channels/1015060230222131221/1028106818368589824/1462111704682074254 */
  .role_af3987 span:nth-of-type(2) {
    display: flex;
  }
  
  .role_af3987 span:nth-of-type(2) img:first-of-type {
    width: 14px; /* 14px and 15px both look good, pick your preference */
    height: 14px; /* Keep in mind the images will be upscaled from 12x12 which may make them look a bit odd */
  }
  
  /* better expanded profile */
  /* https://discord.com/channels/1169089289552924712/1175279933002629130/1506205017961660536 */
.inner_c0bea0 {
    padding-bottom: 48px;
}
.profile__9c3be {
    border-radius: var(--radius-lg);
}
